/* flex.css */

/* Display */
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

/* Flex Direction */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* Align Items */
.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

/* Justify Content */
.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.z {
  z-index: 1;
  text-align: justify;
}

.ml-2 {
  margin-left: 10px;
}

.tj {
  text-align: justify;
}

.pt-2 {
  padding-top: 30px !important;
}

.text-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: bold;
}

.row-center {
  display: flex;
  justify-content: center !important;
}
.p-20 {
  padding: 20px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.pt-1 {
  padding-top: 25px !important;
}

.pb-1 {
  padding-bottom: 25px !important;
}
@media screen and (max-width: 476px) {
  .flex-row {
    flex-direction: column !important;
  }
  .ml-2 {
    margin-left: 0px;
    margin-top: 8px;
  }
}
