---

import Layout from '../layouts/Layout.astro';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<style>
	/* Marquee container */
	.marquee-container {
	  overflow: hidden;
	  white-space: nowrap;
	  background: #708B25;
	  padding: 10px 0;
	}
  
	/* Marquee text */
	.marquee-text {
	  display: inline-block;
	  padding-left: 100%;
	  font-size: 1.5rem;
	  color: #fff;
	  animation: marquee 15s linear infinite;
	  will-change: transform;       /* Hint to browser to optimize animation */
	  backface-visibility: hidden;   /* Further optimization for smoother rendering */
	}
  
	@keyframes marquee {
  0%   { transform: translateX(0%); }
  10%  { transform: translateX(-10%); }
  20%  { transform: translateX(-20%); }
  30%  { transform: translateX(-30%); }
  40%  { transform: translateX(-40%); }
  50%  { transform: translateX(-50%); }
  60%  { transform: translateX(-60%); }
  70%  { transform: translateX(-70%); }
  80%  { transform: translateX(-80%); }
  90%  { transform: translateX(-90%); }
  100% { transform: translateX(-100%); }
}

  </style>

<div class="body">
	
	<Layout>
		 <!--=====progress END=======-->

<div class="paginacontainer"> 

    <div class="progress-wrap">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
      </svg>
    </div>
  
  </div> 
  
  <!--=====progress END=======-->

  <div class="overlay flex cac vac preloader-parent">
    <div>
        <div class="loader preloader flex vac">
            <svg width="200" height="200" >
                <circle class="background" cx="90" cy="90" r="80" transform="rotate(-90, 100, 90)"/>
                <circle class="outer" cx="90" cy="90" r="80" transform="rotate(-90, 100, 90)"/>
            </svg>
            <span class="circle-background">
              
            </span>
            <span class="logo animated fade-in">                
                 <img src="assets/img/logo/header-logo1.png" alt="">            
            </span>
        </div>
    </div>
  </div>
		        <!--===== HERO AREA START Section 1=======-->

				<div class="hero-area6">
					<div class="container">
						<div class="row align-items-center">
						  <div class="col-lg-5">
							<div class="main-heading">
							  <span class="span" data-aos="fade-left" data-aos-duration="700" style="color:black;"><img src="assets/img/icons/main-span6.png" alt="" style="filter: invert(1);"> Top Choice For HME/DME Businesses</span>
							  <h1 class="text-anime-style-3" style="color:black;">Scale your HME/DME business online with expert web, SEO & lead generation.</h1>
							  <div class="space16"></div>
							  <p data-aos="fade-right" data-aos-duration="700" style="color:black;">Accelerate growth with tailored digital strategies that drive traffic, convert leads, and maximize revenue.</p>
							  <div class="space30"></div>
							  <div class="buttons" data-aos="fade-right" data-aos-duration="900">
								<a href="#" class="theme-btn8"><span class="tb8">Get Started Now <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></span></a>
								<div class="video-action-btn1 popup-youtube">
								  <div class="">
									  <a id="play-video" class="video-play-button play-btn" href="#">
										  <span></span>
										</a>
								  </div>
								  <div class="video-btn-pera">
									  <p style="color:black !important;">Play Video</p>
								  </div>
								</div>
		
							  </div>
							</div>
						  </div>
		
						  <div class="col-lg-7">
							<div class="images-all" data-aos="zoom-out" data-aos-duration="800">
							  <div class="image1">
								<img src="assets/img/hero/hero6-img1.png" alt="">
							  </div>
							  <div class="image2 animate1">
								<img src="assets/img/hero/hero6-img2.png" alt="">
							  </div>
							  <div class="image3 shape-animaiton2">
								<img src="assets/img/hero/hero6-img3.png" alt="">
							  </div>
							</div>
						  </div>
						</div>
					</div>
				</div>
		
				<!--===== HERO AREA END =======-->
				<section class="marquee-container">
					<div class="marquee-text">
					  getting your homepage revamped for free and website maintenance in $99
					</div>
				  </section>
				  

				  <!-- Companies worked with starts -->
				  <div class="testimonial4 sp">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 m-auto text-center">
		
								<div class="p-headding">
									<p>Join 4,000+ companies already growing</p>
								</div>
								<div class="tes4-logo-slider1">
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo1.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo2.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo3.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo4.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo5.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo1.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo2.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo3.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo4.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo5.png" alt="">
									</div>
								</div>
			
								<div class="tes4-logo-slider2">
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo1.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo2.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo3.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo4.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo5.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo1.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo2.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo3.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo4.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo5.png" alt="">
									</div>
								</div>
		
							</div>
				  </div>
					  </div>
				  </div>
				  
				  <!-- Companies worked with ends -->


				  <!--===== Our Services starts =======-->
  
				  <div class="editing6 sp" id="editing">
					<div class="container">
					  <div class="row">
						<div class="col-lg-6 m-auto text-center">
						  <div class="heading6">
							<span class="title"><img src="assets/img/icons/span-image6.png" alt=""></span>
							<h2 class="text-anime-style-3">Our Services</h2>
						  </div>
						</div>
					  </div>
		  
					  <div class="space30"></div>
					  <div class="row">
						<div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="600">
						  <div class="editing-box">
							<div class="icon">
							  <img src="assets/img/icons/editing6-icon1.svg" alt="">
							</div>
							<div class="space16"></div>
							<div class="heading6">
							  <h4><a href="#">Website <br/>Development</a></h4>
							  <div class="space16"></div>
							  <p>HIPAA-compliant, mobile-friendly websites</p>
							</div>
						  </div>
						</div>
		  
						<div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="900">
						  <div class="editing-box">
							<div class="icon">
							  <img src="assets/img/icons/editing6-icon2.svg" alt="">
							</div>
							<div class="space16"></div>
							<div class="heading6">
							  <h4><a href="#">SEO & Local Search Optimization</a></h4>
							  <div class="space16"></div>
							  <p>Rank higher on Google & attract
								more patients</p>
							</div>
						  </div>
						</div>
		  
						<div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100">
						  <div class="editing-box">
							<div class="icon">
							  <img src="assets/img/icons/editing6-icon3.svg" alt="">
							</div>
							<div class="space16"></div>
							<div class="heading6">
							  <h4><a href="#">PPC &<br/> Paid Ads</a></h4>
							  <div class="space16"></div>
							  <p>Google Ads, Meta Ads, and high-converting</p>
							</div>
						  </div>
						</div>
		  
						<div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="700">
						  <div class="editing-box">
							<div class="icon">
							  <img src="assets/img/icons/editing6-icon4.svg" alt="">
							</div>
							<div class="space16"></div>
							<div class="heading6">
							  <h4><a href="#">Social Media Management</a></h4>
							  <div class="space16"></div>
							  <p>Build interactive engagement & boost enduring brand trust.</p>
							</div>
						  </div>
						</div>
		  
						<div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100">
						  <div class="editing-box">
							<div class="icon">
							  <img src="assets/img/icons/editing6-icon5.svg" alt="">
							</div>
							<div class="space16"></div>
							<div class="heading6">
							  <h4><a href="#">Lead Generation & CRM Setup</a></h4>
							  <div class="space16"></div>
							  <p> Automate and optimize patient
								inquiries
								</p>
							</div>
						  </div>
						</div>
		  
						<div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="800">
						  <div class="editing-box">
							<div class="icon">
							  <img src="assets/img/icons/editing6-icon6.svg" alt="">
							</div>
							<div class="space16"></div>
							<div class="heading6">
							  <h4><a href="#">E-commerce Integration</a></h4>
							  <div class="space16"></div>
							  <p>Sell HME/DME products online
								seamlessly
								</p>
							</div>
						  </div>
						</div>
		  
					  </div>
					</div>
				  </div>
		  
				  <!--===== Our Services ends =======-->

				  <!-- Why choose us start-->
				  <div class="service4 sp _relative" id="service">
					<div class="container">
						<div class="row">
							<div class="col-lg-5 m-auto text-center">
								<div class="headding4 pbmit-heading-subheading animation-style2">
									<span class="span" style="color:#708b25">Uncore Digital</span>
									<h2 class="pbmit-title" style="color:#708b25">Why Choose Us</h2>
								</div>
							</div>
						</div>
		
						<div class="space30"></div>
						<div class="row">
							<div class="col-lg-4 col-md-6">
								<div class="" data-aos="zoom-in-up" data-aos-duration="800">
									<div class="service-box">
										<div class="icon">
											<img src="assets/img/icons/service4-icon1.png" alt="">
										</div>
										<div class="headding4">
											<h4><a href="#">HME/DME Industry Experts</a></h4>
											<div class="space16"></div>
											<p>Deep understanding of compliance &
												regulations
												</p>
										</div>
									</div>
								</div>
							</div>
		
							<div class="col-lg-4 col-md-6">
								<div class="" data-aos="zoom-in-up" data-aos-duration="1000">
									<div class="service-box">
										<div class="icon">
											<img src="assets/img/icons/service4-icon2.png" alt="">
										</div>
										<div class="headding4">
											<h4><a href="#">Proven <br/>Track Record</a></h4>
											<div class="space16"></div>
											<p>Case studies showcasing results</p>
										</div>
									</div>
								</div>
							</div>
		
							<div class="col-lg-4 col-md-6">
								<div class="" data-aos="zoom-in-up" data-aos-duration="1100">
									<div class="service-box">
										<div class="icon">
											<img src="assets/img/icons/service4-icon4.png" alt="">
										</div>
										<div class="headding4">
											<h4><a href="#">HIPAA-Compliant Digital Solutions</a></h4>
											<div class="space16"></div>
											<p>Secure & patient-friendly
												websites
												</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="" data-aos="zoom-in-up" data-aos-duration="1100">
									<div class="service-box">
										<div class="icon">
											<img src="assets/img/icons/service4-icon4.png" alt="">
										</div>
										<div class="headding4">
											<h4><a href="#">Custom Lead Generation Strategies</a></h4>
											<div class="space16"></div>
											<p>Maximize Medicare & private
												insurance leads
												
												</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-6">
								<div class="" data-aos="zoom-in-up" data-aos-duration="1100">
									<div class="service-box">
										<div class="icon">
											<img src="assets/img/icons/service4-icon4.png" alt="">
										</div>
										<div class="headding4">
											<h4><a href="#">US-Based Team</a></h4>
											<div class="space16"></div>
											<p>Dedicated support & fast response

												</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<img class="shape1" src="assets/img/shapes/home4-shape1.png" alt="">
				</div>
				   <!-- Why choose us ends -->
					
				   <!-- Testimonials starts before - 7 now - 4 -->
				   <div class="testimonial4 sp" id="tes">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 m-auto text-center">
								<div class="headding4 pbmit-heading-subheading animation-style2">
									<span class="span" style="color:#b6c300">Our Testimonials</span>
									<h2 class="pbmit-title">What Our Client Says</h2>
								</div>
							</div>
						</div>
		
		
						<div class="space60"></div>
						<div class="row">
							<div class="col-lg-10 m-auto _relative">
								<div class="tes4-big-slider" data-aos="fade-up" data-aos-duration="800">
									<div class="single-slider">
										<div class="row">
										 <div class="col-lg-12">
											  <ul class="stars">
												   <li><i class="fa-solid fa-star"></i></li>
												   <li><i class="fa-solid fa-star"></i></li>
												   <li><i class="fa-solid fa-star"></i></li>
												   <li><i class="fa-solid fa-star"></i></li>
												   <li><i class="fa-solid fa-star"></i></li>
											  </ul>
											  <p class="pera">“As a small business owner, time is of the essence. eSoft has been a lifesaver for me. The scheduling tools are intuitive, and I can easily plan my posts for the week in just a few clicks. The consistency it brings to my social media presence has significantly boosted my brand image. Plus, the analytics help me understand what works and what doesn't. A must-have for anyone juggling multiple responsibilities!”</p>
		
											  <img src="assets/img/icons/tes4-icon.png" alt="" class="icon">
											  <div class="bottom-headding">
												   <div class="image">
													<img src="assets/img/testimonial/tes4-img.png" alt="">
												   </div>
												   <div class="headding">
														<h4><a href="#">Pat Cummins</a></h4>
														<p>Ceo Biosynthesis</p>
												   </div>
											  </div>
										 </div>
		
										</div>
									</div>
		
									<div class="single-slider">
										<div class="row">
										 <div class="col-lg-12">
											  <ul class="stars">
												   <li><i class="fa-solid fa-star"></i></li>
												   <li><i class="fa-solid fa-star"></i></li>
												   <li><i class="fa-solid fa-star"></i></li>
												   <li><i class="fa-solid fa-star"></i></li>
												   <li><i class="fa-solid fa-star"></i></li>
											  </ul>
											  <p class="pera">“As a small business owner, time is of the essence. eSoft has been a lifesaver for me. The scheduling tools are intuitive, and I can easily plan my posts for the week in just a few clicks. The consistency it brings to my social media presence has significantly boosted my brand image. Plus, the analytics help me understand what works and what doesn't. A must-have for anyone juggling multiple responsibilities!”</p>
		
											  <img src="assets/img/icons/tes4-icon.png" alt="" class="icon">
											  <div class="bottom-headding">
												   <div class="image">
													<img src="assets/img/testimonial/tes4-img.png" alt="">
												   </div>
												   <div class="headding">
														<h4><a href="#">Pat Cummins</a></h4>
														<p>Ceo Biosynthesis</p>
												   </div>
											  </div>
										 </div>
		
										</div>
									</div>
		
							   </div>
		
							   <div class="testimonial-arrows">
									<button class="testimonial-prev-arrow">
										 <i class="fa-regular fa-arrow-left"></i>
									</button>
									<button class="testimonial-next-arrow">
										 <i class="fa-regular fa-arrow-right"></i>
									</button>
							   </div>
							</div>
		
						</div>
		<!-- companies section commented -->
						<!-- <div class="row">
							<div class="col-lg-8 m-auto text-center">
		
								<div class="p-headding">
									<p>Join 4,000+ companies already growing</p>
								</div>
								<div class="tes4-logo-slider1">
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo1.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo2.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo3.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo4.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo5.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo1.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo2.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo3.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo4.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/teas4-logo5.png" alt="">
									</div>
								</div>
			
								<div class="tes4-logo-slider2">
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo1.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo2.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo3.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo4.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo5.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo1.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo2.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo3.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo4.png" alt="">
									</div>
									<div class="single-logo">
										<img src="assets/img/logo/tes2-slider2-logo5.png" alt="">
									</div>
								</div>
		
							</div>
						</div> -->
					</div>
				</div>
					<!-- Testimonials ends -->

					<!-- FAQ section starts -->
					<div class="faq6 sp">
						<div class="container">
						  <div class="row">
							<div class="col-lg-10 m-auto text-center">
							  <div class="heading6">
								<span class="span" style="color:#B6C300">FAQ Question</span>
								<h2 class="text-anime-style-3">Frequently Asked Question</h2>
							  </div>
			  
							  <div class="space40"></div>
			  
							  <div class="accordion accordion1" id="accordionExample">
								<div class="accordion-item active" data-aos="fade-up" data-aos-duration="700"> 
								  <h2 class="accordion-header" id="headingOne">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										How can digital marketing help HME/DME business?
									</button>
								  </h2>
								  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
									<div class="accordion-body">
									  It's very simple! Register here. In your personal account, create wallet where you can store your FOX tokens. Then just send any amount to the displayed address in the your office.
									</div>
								  </div>
								</div>
								<div class="accordion-item" data-aos="fade-up" data-aos-duration="900">
								  <h2 class="accordion-header" id="headingTwo">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Is my website HIPAA-compliant?
									</button>
								  </h2>
								  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
									<div class="accordion-body">
									  It's very simple! Register here. In your personal account, create wallet where you can store your FOX tokens. Then just send any amount to the displayed address in the your office.
									</div>
								  </div>
								</div>
								<div class="accordion-item" data-aos="fade-up" data-aos-duration="1100">
								  <h2 class="accordion-header" id="headingThree">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										How does lead generation work for Medicare patients?
									</button>
								  </h2>
								  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
									<div class="accordion-body">
									  It's very simple! Register here. In your personal account, create wallet where you can store your FOX tokens. Then just send any amount to the displayed address in the your office.
									</div>
								  </div>
								</div>
					
							  </div>
			  
							</div>
						  </div>
						</div>
					</div>
					 <!-- FAQ section ends -->

					  <!-- Contact & Inquiry Form starts -->


<div class="contact-page-area sp" style="background-image: url(assets/img/bg/tes3-bg.png); background-position: center center; background-repeat: no-repeat; background-size: cover;">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 m-auto text-center">
                <div class="common-main-headding">
                  <h1>Ready to Scale Your HME/DME Business?</h1>
                  <p>Connect with us for a custom digital strategy that drives leads and accelerates growth for your HME/DME business.</p>
                </div>
              </div>
            </div>

            <div class="space60"></div>
            <div class="contact-form-all">
              <div class="row align-items-center">
                <div class="">
                  <div class="form-inputs">
                    <h5>Send us a Message</h5>
                    <div class="space16"></div>
                    <p>As a fellow small business owner, we know the fulfillment that an a comes from running your own business contact to Financy.</p>

                    <div class="space30"></div>
                    <form action="#">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="input">
                            <input type="text" placeholder="Name*">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="input">
                            <input type="email" placeholder="Email*">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="input">
                            <input type="number" placeholder="Phone*">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="input">
                            <input type="text" placeholder="Company Name*">
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="input">
                            <textarea cols="30" rows="3" placeholder="Your Message/Services Needed*"></textarea>
                          </div>
                          <div class="button">
                             <button type="submit" class="theme-btn2" style="background-color:#b6c300">Submit Now</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                
              </div>
            </div>
          </div>

          <img class="shape1" src="assets/img/shapes/apps-shape2.png" alt="">
          <img class="shape2" src="assets/img/shapes/apps-shape1.png" alt="">
          <img class="shape3" src="assets/img/shapes/apps-shape1.png" alt="">
        </div>
					 <!-- Contact & Inquiry Form ends -->
					 <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>

					 <script>
					   // Animate the wrapper so it moves continuously
					   gsap.to(".marquee-wrap", {
						 x: "-50%",       // Moves half the container width, which is exactly one copy
						 duration: 15,    // Adjust duration for speed/smoothness
						 ease: "linear",
						 repeat: -1       // Loop indefinitely
					   });
					 </script>
	</Layout>
</div>

