---

import Layout from '../layouts/Layout.astro';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<div class="body">
	
	<Layout>
		        <!--===== HERO AREA START Section 1=======-->

				<div class="hero-area6">
					<div class="container">
						<div class="row align-items-center">
						  <div class="col-lg-5">
							<div class="main-heading">
							  <span class="span" data-aos="fade-left" data-aos-duration="700"><img src="assets/img/icons/main-span6.png" alt=""> Top Choice For 5,800+ Websites Worldwide</span>
							  <h1 class="text-anime-style-3">Build Your Website With eSoft Builder</h1>
							  <div class="space16"></div>
							  <p data-aos="fade-right" data-aos-duration="700">eSoft takes the Customizer to the next level so you can customize every aspect your website single interface.</p>
							  <div class="space30"></div>
							  <div class="buttons" data-aos="fade-right" data-aos-duration="900">
								<a href="account.html" class="theme-btn8"><span class="tb8">Get Started Now <span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></span></a>
								<div class="video-action-btn1 popup-youtube">
								  <div class="">
									  <a id="play-video" class="video-play-button play-btn" href="https://www.youtube.com/watch?v=Y8XpQpW5OVY">
										  <span></span>
										</a>
								  </div>
								  <div class="video-btn-pera">
									  <p>Play Video</p>
								  </div>
								</div>
		
							  </div>
							</div>
						  </div>
		
						  <div class="col-lg-7">
							<div class="images-all" data-aos="zoom-out" data-aos-duration="800">
							  <div class="image1">
								<img src="assets/img/hero/hero6-img1.png" alt="">
							  </div>
							  <div class="image2 animate1">
								<img src="assets/img/hero/hero6-img2.png" alt="">
							  </div>
							  <div class="image3 shape-animaiton2">
								<img src="assets/img/hero/hero6-img3.png" alt="">
							  </div>
							</div>
						  </div>
						</div>
					</div>
				</div>
		
				<!--===== HERO AREA END =======-->

				

				  <!-- Companies worked with starts -->
				  
				  <div class="row">
					<div class="col-lg-8 m-auto text-center pb-1">

						<div class="p-headding pt-1">
							<p>Companies Worked With</p>
						</div>
						<div class="tes4-logo-slider1">
							<div class="single-logo">
								<img src="assets/img/logo/teas4-logo1.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/teas4-logo2.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/teas4-logo3.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/teas4-logo4.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/teas4-logo5.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/teas4-logo1.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/teas4-logo2.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/teas4-logo3.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/teas4-logo4.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/teas4-logo5.png" alt="">
							</div>
						</div>
	
						<div class="tes4-logo-slider2">
							<div class="single-logo">
								<img src="assets/img/logo/tes2-slider2-logo1.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/tes2-slider2-logo2.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/tes2-slider2-logo3.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/tes2-slider2-logo4.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/tes2-slider2-logo5.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/tes2-slider2-logo1.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/tes2-slider2-logo2.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/tes2-slider2-logo3.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/tes2-slider2-logo4.png" alt="">
							</div>
							<div class="single-logo">
								<img src="assets/img/logo/tes2-slider2-logo5.png" alt="">
							</div>
						</div>

					</div>
				</div>
				  <!-- Companies worked with ends -->


				  <!--===== Our Services starts =======-->
  
				  <div class="editing6 sp" id="editing">
					<div class="container">
					  <div class="row">
						<div class="col-lg-6 m-auto text-center">
						  <div class="heading6">
							<span class="title"><img src="assets/img/icons/span-image6.png" alt=""></span>
							<h2 class="text-anime-style-3">Powerful Visual Editing For Your Entire Website</h2>
						  </div>
						</div>
					  </div>
		  
					  <div class="space30"></div>
					  <div class="row">
						<div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="600">
						  <div class="editing-box">
							<div class="icon">
							  <img src="assets/img/icons/editing6-icon1.svg" alt="">
							</div>
							<div class="space16"></div>
							<div class="heading6">
							  <h4><a href="#">Drag & Drop Editing</a></h4>
							  <div class="space16"></div>
							  <p>Drag a "Text Editor" widget from the sidebar and drop it into the desired section or column on your page.</p>
							</div>
						  </div>
						</div>
		  
						<div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="900">
						  <div class="editing-box">
							<div class="icon">
							  <img src="assets/img/icons/editing6-icon2.svg" alt="">
							</div>
							<div class="space16"></div>
							<div class="heading6">
							  <h4><a href="#">True Visual Editing</a></h4>
							  <div class="space16"></div>
							  <p>Design your page in real time and see the results instantly. Create an customize your all landing pages.</p>
							</div>
						  </div>
						</div>
		  
						<div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100">
						  <div class="editing-box">
							<div class="icon">
							  <img src="assets/img/icons/editing6-icon3.svg" alt="">
							</div>
							<div class="space16"></div>
							<div class="heading6">
							  <h4><a href="#">Custom CSS Control</a></h4>
							  <div class="space16"></div>
							  <p>Developers can easily combine Divi's visual design controls with their own custom CSS, eSoft interface is best.</p>
							</div>
						  </div>
						</div>
		  
						<div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="700">
						  <div class="editing-box">
							<div class="icon">
							  <img src="assets/img/icons/editing6-icon4.svg" alt="">
							</div>
							<div class="space16"></div>
							<div class="heading6">
							  <h4><a href="#">Responsive Editing</a></h4>
							  <div class="space16"></div>
							  <p>eSoft Building beautiful responsive websites is easy. Divi is responsive by nature & also gives full control.</p>
							</div>
						  </div>
						</div>
		  
						<div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1100">
						  <div class="editing-box">
							<div class="icon">
							  <img src="assets/img/icons/editing6-icon5.svg" alt="">
							</div>
							<div class="space16"></div>
							<div class="heading6">
							  <h4><a href="#">Copy/Paste Design</a></h4>
							  <div class="space16"></div>
							  <p> eSoft Save and manage unlimited custom designs. Easily re-use them to jump-start new home pages.</p>
							</div>
						  </div>
						</div>
		  
						<div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="800">
						  <div class="editing-box">
							<div class="icon">
							  <img src="assets/img/icons/editing6-icon6.svg" alt="">
							</div>
							<div class="space16"></div>
							<div class="heading6">
							  <h4><a href="#">Global Element Styles</a></h4>
							  <div class="space16"></div>
							  <p>Manage your entire website's design using global elements and website-wide design settings.</p>
							</div>
						  </div>
						</div>
		  
					  </div>
					</div>
				  </div>
		  
				  <!--===== Our Services ends =======-->

				  <!-- Why choose us start-->
				   <!-- Why choose us ends -->
					
				   <!-- Testimonials starts -->
				   <div class="testimonial7 sp" id="tes">
					<div class="container">
					  <div class="row">
						<div class="col-lg-6 m-auto text-center">
						  <div class="heading7">
							<p class="title" data-aos="zoom-in-left" data-aos-duration="800"><span class="span">our testimonials</span></p>
							<h2 class="text-anime-style-3">Our Satisfied Client Says</h2>
						  </div>
						</div>
					  </div>
					  <div class="space60"></div>
					  <div class="row align-items-center">
						<div class="col-lg-5">
						  <div class="main-image" data-aos="fade-up" data-aos-duration="700">
							<img src="assets/img/testimonial/tes7-main-image.png" alt="">
						  </div>
						</div>
	  
						<div class="col-lg-7">
	  
						  <div class="testimonial7-all" data-aos="fade-up" data-aos-duration="900">
							<div class="tes7-slider">
	  
							  <div class="swiper-slide">
								<div class="testimonials-box-2">
								  <div class="star">
									<ul>
									  <li><i class="fa-solid fa-star"></i></li>
									  <li><i class="fa-solid fa-star"></i></li>
									  <li><i class="fa-solid fa-star"></i></li>
									  <li><i class="fa-solid fa-star"></i></li>
									  <li><i class="fa-solid fa-star"></i></li>
									</ul>
								  </div>
								  <p class="text">
									"We've integrated the POS software with our online store, and it's made managing both so much easier. The synchronization between our physical and online inventory is seamless, & the centralized data helps”
								  </p>
								  <div class="bottom">
									<div class="info">
									  <div class="content">
										<h6 class="name"><a href="#">Thomas Muller</a></h6>
										<p class="position">Amazon Market</p>
									  </div>
									</div>
								  </div>
								</div>
							  </div>
	  
							  <div class="swiper-slide">
								<div class="testimonials-box-2">
								  <div class="star">
									<ul>
									  <li><i class="fa-solid fa-star"></i></li>
									  <li><i class="fa-solid fa-star"></i></li>
									  <li><i class="fa-solid fa-star"></i></li>
									  <li><i class="fa-solid fa-star"></i></li>
									  <li><i class="fa-solid fa-star"></i></li>
									</ul>
								  </div>
								  <p class="text">
									"We've integrated the POS software with our online store, and it's made managing both so much easier. The synchronization between our physical and online inventory is seamless, & the centralized data helps”
								  </p>
								  <div class="bottom">
									<div class="info">
									  <div class="content">
										<h6 class="name"><a href="#">Thomas Muller</a></h6>
										<p class="position">Amazon Market</p>
									  </div>
									</div>
								  </div>
								</div>
							  </div>
			  
							</div>
							<div class="pagination-buttons">
							  <div class="testimonial7-prev-arrow">
								<button><i class="fa-solid fa-angle-up"></i></button>
							  </div>
							  <div class="testimonial7-next-arrow">
								<button><i class="fa-solid fa-angle-down"></i></button>
							  </div>
							</div>
						  </div>
	  
						</div>
					  </div>
					</div>
				  </div>
					<!-- Testimonials ends -->

					<!-- FAQ section starts -->
					<div class="faq6 sp">
						<div class="container">
						  <div class="row">
							<div class="col-lg-10 m-auto text-center">
							  <div class="heading6">
								<span class="span">FAQ Question</span>
								<h2 class="text-anime-style-3">Frequently Asked Question</h2>
							  </div>
			  
							  <div class="space40"></div>
			  
							  <div class="accordion accordion1" id="accordionExample">
								<div class="accordion-item active" data-aos="fade-up" data-aos-duration="700"> 
								  <h2 class="accordion-header" id="headingOne">
									<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									  What is blockchain technology
									</button>
								  </h2>
								  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
									<div class="accordion-body">
									  It's very simple! Register here. In your personal account, create wallet where you can store your FOX tokens. Then just send any amount to the displayed address in the your office.
									</div>
								  </div>
								</div>
								<div class="accordion-item" data-aos="fade-up" data-aos-duration="900">
								  <h2 class="accordion-header" id="headingTwo">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									  what is the value of fOX tokens?
									</button>
								  </h2>
								  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
									<div class="accordion-body">
									  It's very simple! Register here. In your personal account, create wallet where you can store your FOX tokens. Then just send any amount to the displayed address in the your office.
									</div>
								  </div>
								</div>
								<div class="accordion-item" data-aos="fade-up" data-aos-duration="1100">
								  <h2 class="accordion-header" id="headingThree">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									  I use cryptocurrency participate in the ICO?
									</button>
								  </h2>
								  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
									<div class="accordion-body">
									  It's very simple! Register here. In your personal account, create wallet where you can store your FOX tokens. Then just send any amount to the displayed address in the your office.
									</div>
								  </div>
								</div>
					
								<div class="accordion-item" data-aos="fade-up" data-aos-duration="1300">
								  <h2 class="accordion-header" id="headingFour">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									  What Is Cryptocurrency?
									</button>
								  </h2>
								  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
									<div class="accordion-body">
									  It's very simple! Register here. In your personal account, create wallet where you can store your FOX tokens. Then just send any amount to the displayed address in the your office.
									</div>
								  </div>
								</div>
					
								<div class="accordion-item" data-aos="fade-up" data-aos-duration="1000">
								  <h2 class="accordion-header" id="headingFive">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									  how does cryptocurrency work?
									</button>
								  </h2>
								  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
									<div class="accordion-body">
									  It's very simple! Register here. In your personal account, create wallet where you can store your FOX tokens. Then just send any amount to the displayed address in the your office.
									</div>
								  </div>
								</div>
					
							  </div>
			  
							</div>
						  </div>
						</div>
					</div>
					 <!-- FAQ section ends -->

					  <!-- Contact & Inquiry Form starts -->


<div class="contact-page-area sp" style="background-image: url(assets/img/bg/tes3-bg.png); background-position: center center; background-repeat: no-repeat; background-size: cover;">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 m-auto text-center">
                <div class="common-main-headding">
                  <h1>Customer Support</h1>
                  <p>At eSoft, we value your inquiries and are here to provide the support you need. Whether you're looking for more information about our cutting-edge software.</p>
                </div>
              </div>
            </div>

            <div class="space60"></div>
            <div class="contact-form-all">
              <div class="row align-items-center">
                <div class="">
                  <div class="form-inputs">
                    <h5>Send us a Message</h5>
                    <div class="space16"></div>
                    <p>As a fellow small business owner, we know the fulfillment that an a comes from running your own business contact to Financy.</p>

                    <div class="space30"></div>
                    <form action="#">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="input">
                            <input type="text" placeholder="First Name*">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="input">
                            <input type="email" placeholder="Email*">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="input">
                            <input type="number" placeholder="Phone*">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="input">
                            <input type="text" placeholder="Website*">
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="input">
                            <textarea cols="30" rows="3" placeholder="Your Message*"></textarea>
                          </div>
                          <div class="button">
                             <button type="submit" class="theme-btn2">Submit Now</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                
              </div>
            </div>
          </div>

          <img class="shape1" src="assets/img/shapes/apps-shape2.png" alt="">
          <img class="shape2" src="assets/img/shapes/apps-shape1.png" alt="">
          <img class="shape3" src="assets/img/shapes/apps-shape1.png" alt="">
        </div>
					 <!-- Contact & Inquiry Form ends -->

	</Layout>
</div>

