<header>
    <div class="header-area header-area6 header-area-all d-none d-lg-block" id="header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="header-elements">
              <div class="site-logo home1-site-logo">
                <a href="#"
                  ><img src="assets/img/logo/header-logo6.png" alt="">
                </a>
              </div>


              <div class="main-menu-ex main-menu-ex1">
               <ul>
                   
                 <li><a href="/">Home </i></a>
                   
                 </li>
 
                   
                   <li><a href="https://www.uncoredigital.com/marketing-service" target="_blank">Services</a></li>
 
                     <li><a href="https://www.uncoredigital.com/" target="_blank">About Us</a></li>
 
                     <li><a href="https://www.uncoredigital.com/contact" target="_blank">Contact</a></li>
 
                 
                     
                 </ul>
              </div>

              <div class="header4-buttons">
                   <a href="#" class="theme-btn8"><span class="tb8">Get Sample Audit<span class="arrow"><i class="fa-solid fa-arrow-right"></i></span></span></a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!--=====Mobile header start=======-->
  <div class="mobile-header mobile-header3 d-block d-lg-none ">
    <div class="container-fluid">
      <div class="col-12">
        <div class="mobile-header-elements">
          <div class="mobile-logo">
            <a href="#"><img src="assets/img/logo/header-logo2.png" alt=""></a>
          </div>
          <div class="mobile-nav-icon">
            <i class="fa-duotone fa-bars-staggered"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="mobile-sidebar mobile-sidebar4 d-block d-lg-none">
    <div class="logo-m">
      <a href="#"><img src="assets/img/logo/header-logo1.png" alt=""></a>
    </div>
    <div class="menu-close">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="mobile-nav">

        <ul>
            <li><a href="/">Home </i></a>
                   
            </li>

              
              <li><a href="https://www.uncoredigital.com/marketing-service" target="_blank">Services</a></li>

                <li><a href="https://www.uncoredigital.com/" target="_blank">About Us</a></li>

              <li><a href="https://www.uncoredigital.com/contact" target="_blank">Contact</a></li>
          </ul>

      <a class="sidebar1-btn" href="#"><span>Book a Consultation</span> <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span> </a>

      <div class="contact-infos">
        <h3>Contact Info</h3>
        <div class="box">
          <div class="icon">
            <span><i class="fa-regular fa-phone"></i></span>
          </div>
          <div class="pera">
            <a href="tel:921-888-0022">921-888-0022</a>
          </div>
        </div>
        <div class="box">
          <div class="icon">
            <span><i class="fa-regular fa-envelope"></i></span>
          </div>
          <div class="pera">
            <a href="mailto:example@visafast.com">example@visafast.com</a>
          </div>
        </div>
      </div>
      <div class="contact-infos">
        <h3>Our Location</h3>
        <div class="box">
          <div class="icon">
            <span><i class="fa-regular fa-location-dot"></i></span>
          </div>
          <div class="pera">
            <a href="#">55 East Birchwood Ave.Brooklyn, <br>
              New York 11201,United States</a>
          </div>
        </div>
      </div>

      <div class="contact-infos">
        <h3>Our Location</h3>
        <ul class="icon-list">
          <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>

    </div>
  </div>

  <!--=====Mobile header end=======-->