---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Uncore Digital</title>

		<!--=====CSS=======-->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/fontawesome.css">
		<link rel="stylesheet" href="assets/css/magnific-popup.css">
		<link rel="stylesheet" href="assets/css/nice-select.css">
		<link rel="stylesheet" href="assets/css/slick-slider.css">
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/aos.css">
		<link rel="stylesheet" href="assets/css/mobile-menu.css">
		<link rel="stylesheet" href="assets/css/main.css">
		<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
		<link rel="stylesheet" href="assets/css/flex.css">

		<!--=====JQUERY=======-->
								<!-- Include jQuery library before the countup script -->
<script is:inline src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script is:inline src="assets/js/jquery-3-7-1.min.js"></script>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer/>
		<script is:inline src="assets/js/bootstrap.min.js"></script>
                                <script is:inline src="assets/js/aos.js"></script>
                                <script is:inline src="assets/js/fontawesome.js"></script>
                                <script is:inline src="assets/js/jquery.countup.js"></script>
                                <script is:inline src="assets/js/mobile-menu.js"></script>
                                <script is:inline src="assets/js/jquery.magnific-popup.js"></script>
                                <script is:inline src="assets/js/owl.carousel.min.js"></script>
                                <script is:inline src="assets/js/slick-slider.js"></script>
                                <script is:inline src="assets/js/gsap.min.js"></script>
                                <script is:inline src="assets/js/ScrollTrigger.min.js"></script>
                                <script is:inline src="assets/js/Splitetext.js"></script>
                                <script is:inline src="assets/js/text-animation.js"></script>
                                <script is:inline src="assets/js/SmoothScroll.js"></script>
                                <script is:inline src="assets/js/tilt.jquery.js"></script>
                                <script is:inline src="assets/js/main.js"></script>
								<script is:inline src="assets/js/swiper-bundle.min.js"></script>			
	</body>
</html>


